@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');



body{
    font-family: "Manrope", sans-serif;
    font-size: 28px;
    display: grid;
    grid-template-rows:  1fr auto ;
    height: 100dvh;
}